.u-main__margin{
    margin: 80px 0;
}
.u-main-title__margin{
    margin-bottom: 20px;
}
.u-main-gallely__size{
    height: 500px;
    width: (100vw / 3);
    @media screen and (max-width: 834px){
        width: 100%;
      };
}
.u-main-gallely__size img{
    width: 100%;
    height: 500px;
    object-fit:cover;
}
.u-button--size{    
    width: 232px;
    height: 57px;
    margin: 60px auto 80px;
}
.u-button--text__size{
    width: 100%;
    height: 100%;

    &>a{
    padding: 18px;
    display: block;
    line-height: 1.5em;
  }
}
.u-footer-snslink__style{
    font-size: 12px;
    line-height: 1.75em;
    margin-right: 21px;

    &:last-child{
        margin-right: 0;
    }
}
.u-footer-copy__style{
    font-size: 12px;
    text-align: center;
    margin: 21px 0 20px 0;
}