.l-main-title{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.l-main-about{
  font-size: 16px;
  text-align: center;
}
.l-main-gallely{
  display: flex;
  justify-content: center;
  @media screen and (max-width: 834px){
    flex-wrap: wrap;
  };
}
.l-button{
  border: 1px solid #2B2A27;
}
.l-button--text{
  font-size: 14px;
  text-align: center;
}
